*{margin: 0;
 padding: 0;
 }
.box
    {
    height: 67.25061798095703px;
    width: 1268.08740234375px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    /*border: 2px solid red;*/
    background: #FFFAFA;
    }
.logo
    {position: absolute;
    width: 155px;
    height: 60px;
    left: 35px;
    top: 3px;
   /* border: 2px solid red;*/
    }
.ellipse1
        {
        position: absolute;
        left: 11.88%;
        right: 79.72%;
        top: 26.56%;
        bottom: 52.42%;
        background: #FED75C;
        border-radius: 50%;
        }
.ellipse2
        {
            position: absolute;
            left: 22.22%;
            right: 69.38%;
            top: 26.56%;
            bottom: 52.42%;
            background: #FF9D93;
            border-radius: 50%;
        }
.ellipse3
        {
            position: absolute;
            left: 11.88%;
            right: 79.72%;
            top: 51.62%;
            bottom: 27.37%;
            background: #9EC2FE;
            border-radius: 50%;
        }
.ellipse4
        {
            position: absolute;
            left: 22.22%;
            right: 69.38%;
            top: 51.62%;
            bottom: 27.37%;
            background: #FCB385;
            border-radius: 50%;
        }
.courses
        {
            position: absolute;
            left: 35.62%;
            right: 20%;
            top: 20.31%;
            bottom: 51.56%;
            font-weight: 700;
            font-size: 17px;
        }
.subline
        {
            position: absolute;
            left: 36.42%;
            right: 20%;
            top: 55.09%;
            bottom: 21.88%;
        }
.middle
        {position: absolute;
        width: 260px;
        height: 15px;
        left: 350px;
        top: 24.38px;
       /* border: 2px solid red;*/
    }
ul
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.tabs
    {font-weight: 550;
    font-size: 16px;
    }
.right-box
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 358.06px;
        height: 35px;
        left: 840.26px;
        top: 13.63px;
       /* border: 2px solid red;*/
    }
.highlight
    {
        position: absolute;
        left: 26.5%;
        right: 66.56%;
        top: 99%;
        bottom: 0%;
        border: 5px solid #C51F5D;
        ;
        
    }
.group-1
        {
            position: static;
            width: 240.75px;
            height: 35px;
            left: 0px;
            top: 0px;
            border-radius: 4px;
           /* border: 1px solid red;*/
            background-color: white;
        }
.sub-1
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0px;
            position: absolute;
            width: 80px;
            height: 19px;
            left: 18px;
            top: 8px;
            background: #FFFFFF;
            /*border: 1px solid red;*/
        }
.group-2
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            padding: 0px;
            position: absolute;
            width: 110px;
            height: 30px;
            left: 243px;
            top: 1.5px;
            background: #FFFFFF;
           /* border: 1px solid black;*/
        }
.side-bar
        {
            position: absolute;
            width: 234.09px;
            height: 1606.29px;
            left: 0px;
            top: 70px;
            background: #FFFAFA;
            border: 0.63px solid #E2E3E4;
            box-sizing: border-box;
            /*border: 2px solid red;*/
        }
.bar-1a
       {
        position: absolute;
        width: 232.09px;
        height: 316.29px;
        left: 0px;
        top: 0px;
        background: #FFFAFA;
        box-sizing: border-box;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 55px; 
        padding-top: 30px; 
       }
.bar-1b
       {
        position: absolute;
        width: 132.09px;
        height: 316.29px;
        left: 75px;
        top: 0px;
        background: #FFFAFA;
        box-sizing: border-box;
       /* border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 8px;
        padding-top: 30px;
        font-weight: 550; 
       }
.bar-2a
       {
        position: absolute;
        width: 232.09px;
        height: 30px;
        left: 0px;
        top: 340px;
        background: #FFFAFA;
        box-sizing: border-box;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 40px; 
        }
.bar-2b
        {
        position: absolute;
        width: 232.09px;
        height: 200px;
        left: 0px;
        top: 362px;
        background: #FFFAFA;
        box-sizing: border-box;
       /* border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 55px;
        font-weight: 550;
        padding-top: 10px; 
        }
.section
        {
        position: absolute;
        width: 1036px;
        height: 450.22px;
        left: 232.09px;
        top:  69.25061798095703px;
        background: linear-gradient(282.24deg, #F8E8E8 5.21%, #FFD1FA 105.14%);
        /*border: 2px solid red;*/
        }
.sub-section-1
        {
        position: absolute;
        width: 390px;
        height: 86px;
        left: 93.19px;
        top: 77px;
        font-family: 'Moderat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #141D26;
        /*border: 2px solid black;*/
        }
.sub-section-2
        {
        position: absolute;
        width: 520.06px;
        height: 283.92px;
        left: 480.27px;
        top: 54.89px;
        background: no-repeat url(casual-life-3d-meditation-crystal-1\ 1.png);
        background-size: 500px 250px;
        }
.sub-section-3
        {
        position: absolute;
        width: 249.75px;
        height: 35px;
        left: 93.2px;
        right: 56.02%;
        top: 185.85px;
        background: #FFFFFF;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        }
.sub-sec-4a
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0px;
            position: absolute;
            width: 160px;
            height: 19px;
            left: 18px;
            top: 15px;
            background: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
        }
.sub-section-4
        {
        position: absolute;
        width: 210px;
        height: 49px;
        left: 151.19px;
        top: 360.31px;
        background: #FFFFFF;
        border-radius: 8px;
       /* border: 2px solid black;*/
        }
.sub-section-5
        {
        position: absolute;
        width: 210px;
        height: 49px;
        left: 415.19px;
        top: 360.31px;
        background: #FFFFFF;
        border-radius: 8px;
       /* border: 2px solid black;*/
        }
.sub-section-6
        {
        position: absolute;
        width: 210px;
        height: 49px;
        left: 670.19px;
        top: 360.31px;
        background: #FFFFFF;
        border-radius: 8px;
       /* border: 2px solid black;*/
        }
.ellipse5
        {
        position: absolute;
        width: 48.62px;
        height: 45.62px;
        left: 378.07px;
        top: 60.87px;
        background: #FFFFFF;
        box-shadow: -4.8616px -3.88928px 3.88928px rgba(255, 255, 255, 0.26), 2.91696px 4.8616px 7.77855px rgba(117, 222, 255, 0.07);
        border-radius: 50%;
        }
.ellipse6
        {
        position: absolute;
        left: 20.88%;
        right: 56.72%;
        top: 26.56%;
        bottom: 47.42%;
        background: #FED75C;
        border-radius: 50%;
        }
.ellipse7
        {
        position: absolute;
        left: 49.22%;
        right: 27.38%;
        top: 26.56%;
        bottom: 47.42%;
        background: #FF9D93;
        border-radius: 50%;        
        }
.ellipse8
        {
        position: absolute;
        left: 20.88%;
        right: 56.72%;
        top: 55.62%;
        bottom: 20.37%;
        background: #9EC2FE;
        border-radius: 50%;               
        }
.ellipse9
        {
        position: absolute;
        left: 49.22%;
        right: 27.38%;
        top: 55.62%;
        bottom: 20.37%;
        background: #FCB385;
        border-radius: 50%;     
        }
.main-1
        {
        position: absolute;
        width: 1034px;
        height: 38px;
        left: 232.09px;
        top: 510.22px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #141D26;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        }
.underline
        {
        position: absolute;
        width: 154.85px;
        left: 0px;
        top: 36px;
        border: 2px solid #C51F5D;
        }
.main-2a
        {
        position: absolute;
        height: 320px;
        left: 300px;
        right: 690px;
        top: 600px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2a1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12.png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2a2
        {
        position: absolute;
        height: 188px;
        left: 0%;
        right: 0%;
        top: 127px;
       /* border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        }
.main-2a2-1
        {
        position: absolute;
        height: 151px;
        left: 5%;
        right: 5%;
        top: 10px;
       /* border: 1px solid black;*/
        display: flex;
        flex-direction: column;

        }
.main-2a2-1a
        {
        position: static;
        height: 44px;
        left: 10%;
        right: 20.02%;
        top: 230px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #313131;
       /* border: 1px solid black;*/
        }
.main-2a2-1b
        {
        position: static;
        height: 74px;
        left: 10%;
        right: 20.02%;
        top: 275px;
        color: #313131;
       /* border: 1px solid black;*/
        }
.main-2a2-1c
        {
        position: static;
        height: 27px;
        left: 10%;
        right: 20.02%;
        top: 375px;
        color: #313131;
       /* border: 1px solid red;*/
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        }
.button1
        {
        box-sizing: border-box;
        height: 22px;
        width: 80px;
        border: 1.5px solid orange;
        border-radius: 10px;
        margin: 10px;
        padding-left: 10px;
        color: orange;
        }
.button2
        {
        box-sizing: border-box;
        height: 22px;
        width: 80px;
        border: 1.5px solid royalblue;
        border-radius: 10px;
        margin: 10px;
        padding-left: 10px;
        color: royalblue;
        }
.main-2a2-2
        {
        position:absolute;
        height: 16px;
        left: 30.89%;
        right: 37.89%;
        top: 166.55px;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        color: #243447;
       /* border: 2px solid green;*/
        }

.main-2b      
        {
        position: absolute;
        height: 320px;
        left: 620px;
        right: 380px;
        top: 600px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2b1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(1\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2c      
        {
        position: absolute;
        height: 320px;
        right: 70px;
        left: 930px;
        top: 600px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2c1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(2\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2d
        {
        position: absolute;
        height: 320px;
        left: 300px;
        right: 690px;
        top: 950px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2d1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(3\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2e      
        {
        position: absolute;
        height: 320px;
        left: 620px;
        right: 380px;
        top: 950px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2e1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(4\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2f     
        {
        position: absolute;
        height: 320px;
        right: 70px;
        left: 930px;
        top: 950px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2f1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(5\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2g
        {
        position: absolute;
        height: 320px;
        left: 300px;
        right: 690px;
        top: 1300px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2g1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(6\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2h     
        {
        position: absolute;
        height: 320px;
        left: 620px;
        right: 380px;
        top: 1300px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2h1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(7\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
.main-2i     
        {
        position: absolute;
        height: 320px;
        right: 70px;
        left: 930px;
        top: 1300px;
        background: #FFFFFF;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        /* Shadow */
        box-shadow: 0px 4px 16px rgba(10, 15, 20, 0.12);
        border-radius: 5px;
        }
.main-2i1
        {
        position: absolute;
        height: 129.4px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: center url(Rectangle\ 12\ \(8\).png);
        background-size: 400px 359px;
        border: 0.626214px solid rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        box-shadow: 0px 25.0485px 57.6117px 10.0194px rgba(0, 30, 79, 0.03);
        border-radius: 5px 5px 0px 0px;
        }
